{% extends "main/layout.html"%}

{%block title%} Advanced Level {%endblock%}
{%block body%}
<div class="container">
    <h1>Register</h1>
    <form action="{%url 'authentication:signup'%}" method="post">
        {% csrf_token %}
        <div class="input-form">
        <input id="username" placeholder="Username" type="text" name="username">
        </div>
        <div class="input-form">
        <input id="password1" type="password" placeholder="Password" name="password1">
        </div>
        <div class="input-form">
        <input id="password2" placeholder="Confirm Password" type="password" name="password2">
        </div>
        
        <input type="submit"  class="btn">
    </form>
    </div>
{%endblock%}