{% extends "main/layout.html"%}

{%block title%} Home {%endblock%}
{%block body%}
<section>
    <h1>HOMEPAGE</h1>
</section>

<section>
    <h1>WELCOME TO OUR WEBSITE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut itaque fugit quia
        est dolores velit vero architecto, error delectus nobis nostrum quisquam iure incidunt
        laudantium odit, neque atque, magni et autem eius inventore cumque. Veniam atque dolorem
        ut tempora ex, minus mollitia fugiat sapiente et a eos animi sed temporibus nostrum! Dolor
        corporis voluptate nobis nemo ea enim illo ratione, aut, esse totam deleniti ab magnam
        excepturi eveniet veniam repudiandae similique dicta provident placeat fugiat tempore
        dolore animi quos. Minus ipsa voluptatem, vero alias neque quo totam corporis, eligendi
        maiores error labore iste, natus nulla voluptatibus! Mollitia rerum eveniet est?</p>
</section>

<section>
    <h1>Part 1</h1>
</section>
<section>
    <h1>Part 2</h1>
</section>
    <!--<a href="{%url 'manage_course_list'%}">course</a>-->
{%endblock%}